.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  /* 画面の全高さ */
  width: 80%;
  /* サイドナビゲーションの幅 */
  background-color: #e3e3e3;
  /* 背景色 */
  color: rgb(0, 0, 0);
  /* 文字色 */
  padding: 20px;
  /* 内側の余白 */
}

.menuItem {
  padding: 10px;
  /* 内側の余白 */
  /* margin: 40px 0; 外側の余白（上下） */
  /* 背景色 */
  color: black;
  /* テキストの色を黒に変更 */
  display: flex;
  /* Flexboxを使って中央揃えを行う */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  border-radius: 10px;
}

.finalGoal {
  background-color: white;
  font-weight: bold;
}

.flag {
  font-size: 20px;
  margin-right: 10px;
}


.level{
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 20px;
  color: black;
  margin: 0;
  font-weight: lighter;
}

.currentGoal {
  padding: 60px 8px;
  /* パディングを増やして縦幅を大きくする */
  font-size: 20px;
  background-color: rgb(151, 238, 177);
  position: relative;
  font-weight: bold;
}

.preGoal {
  background-color: white;
  font-weight: bold;
}

.sidenav {
  /* 既存のスタイル */
  position: relative;
  /* 背景よりも前面に線を表示させるために必要 */
  z-index: 1;
  /* このz-indexは背景よりも前面になるように設定 */
}

.menuItem {
  /* 既存のスタイル */
  /* position: relative; */
  /* z-index: 2; ボックスを線よりも前面に表示させる */
  width: 100%;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuBorder {
  width: 2px;
  /* min-height: 40px; */
  height: 40px;
  background-color: #989898;
  /* border-radius: 8px; */
}

.btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: none;
  background-color: white;
  font-weight: bold;
  /* color: rgb(151, 238, 177); */
  color: rgb(221, 220, 220);
  border-radius: 10px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
}

.btn:hover {
  background-color: white;
  color:  black;

}

