.listWrapper {
  width: 1000px;
  height: 700px;
}

.list {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

.list td {
  font-weight: bold;
  border: solid 1px gray;
}

.level {
  padding: 15px 50px;
  text-align: center;
}

.content {
  padding: 15px 20px;
}

.finallist {

}

.nowlist {
  background-color: #9EEFAA;
}

.achievelist {
  opacity: 0.4;
  color: black;
  background-color: lightgray;
}