.list {
    border-collapse: collapse;
  }

.list td{
    border: solid 1px black;
    padding: 0;
    font-weight: bold;
}

.finallist{
  background-color: #9EEFAA;
}

.nowlist{
  background-color: pink;
}

.achievelist{
	opacity: 0.5;
}